.inlay {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 5%;
  width: 95%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  .inlayCase-3 {
    position: absolute;
    left: 10.4%;
  }
  .inlayCase-5 {
    position: absolute;
    left: 18.7%;
  }
  .inlayCase-7 {
    position: absolute;
    left: 27%;
  }
  .inlayCase-9 {
    position: absolute;
    left: 35.3%;
  }
  .inlayCase-12 {
    position: absolute;
    left: 47.7%;
  }
  .inlayCase-15 {
    position: absolute;
    left: 60.1%;
  }
  .inlayCase-17 {
    position: absolute;
    left: 68.5%;
  }
  .inlayCase-19 {
    position: absolute;
    left: 76.8%;
  }
  .inlayCase-21 {
    position: absolute;
    left: 85.1%;
  }
  .inlayCase-24 {
    position: absolute;
    left: 97.5%;
  }

  .hidden {
    display: none;
  }
}
