.string {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 5px;
  width: 100%;
  border-radius: 5px;
  background-color: rgb(58, 58, 58);
  z-index: 2;
}
