.circleInfo {
  //   position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: 1px solid #000;
  text-align: center;
  background-color: rgba(0, 255, 255, 0.409);
  color: black;
}
